/* || Main styles */

body {
    width: 100%;
    height: 100%;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* Root styles */

:root {
    /* COLORS */
    --off-black: #15171F;
    --purple: #6D37FF;
    --medium-purple: #B69BFF;
    --light-purple: #E2D7FF;
    --yellow:#C5E500;
    --light-yellow:#F1FF9A;
    --dark-grey: #87888A;
    --medium-grey: #BCBDC0;
    --medium-light:#E5E7EB;
    --light-grey: #F2F4F7;
    --lighter-grey: #F8F9FA;
    --white: #ffffff;

    /* FONT SIZES */
    --font-xlarge: 2.4rem;
    --font-large: 2rem;
    --font-medium: 1.6rem;
    --font-small: 1.2rem;
    --font-xsmall: 1rem;
    --font-xxsmall: 0.9rem;

    /* FONT WEIGHT */
    --bold: 600;
    --regular: 400;
    --light: 200;
}


/* General html elements */

ul {
    list-style-type: none;
}

button {
    border: none;
    cursor: pointer;
    outline: inherit;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background: none;
}

h2 {
    font-size: 1.6rem;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 380;
    font-style: normal;
}

h3 {
    font-size: var(--font-medium);
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

a {
    text-decoration: none;
}

img,
svg {
    image-rendering: auto;
    shape-rendering: auto;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    font-family: "Space Grotesk", sans-serif;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    margin-bottom: 50px;
}