.load-wrap {
    background: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
}
.loader {
    width: 100px;
    height: 100px;
    position: absolute;
    margin: auto;
    top: 0;bottom: 0;left: 0;
    right:0;
}
