/* || Project thumbnail styles */

.projectThumbWrap {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.projectThumb {
    width: 270px;
    height: 170px;
    background: var(--purple);
    border-radius: 30px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}

.projectThumbWrap h3 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 3px;
}

.projectThumbWrap p {
    font-size: 0.8rem;
    margin-bottom: 5px;
    color: var(--medium-grey);
    text-transform: capitalize;
}

.projectThumb img {
    width: 100%;
    position: absolute;
    top: 0;bottom: 0;
}