/* || Artist thumb  */
.artistContainer {
    width:280px;
    height:360px;
    background: var(--lighter-grey);
    /* border: 1px solid var(--medium-light); */
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    cursor:pointer;
}

/* Hover */
.hover {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.123);
    opacity: 0;
    z-index: 1;
}

.hover:hover {
    opacity: 1;
}

.clickable {
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: zoom-in;
}

/* Top half */
.additional-info {
    width: 100%;
    padding: 8px;
    background: var(--light-purple);
    text-align: center;
}

.additional-info p {
    color: var(--purple);
    font-size:14px;
    letter-spacing: 0.5px;
}

.artistTop {
    height: 200px;
    padding: 20px;
}

.profile-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    color: black;
}

.profile-crop {
    align-self: flex-start;
    width: 80px;
    height: 80px;
    position: relative;
    overflow: hidden;
    border-radius: 500px;
    margin-right:20px;
    background: grey;

}

.profile-Img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto;
}

.name {
    width: 100px;
    height: 100%;
    font-size: 1.5rem;
    font-weight: 350;
    flex-grow: 1;
}

.rate {
    padding: 7px 15px;
    border-radius: 7px;
    font-size: 14px;
    display: inline-block;
    color: var(--purple);
    background: var(--light-purple);
    margin-bottom: 10px;
}

.fill{
    width: 100%;
    text-align: center;
}

.main-skill {
    padding: 15px 30px;
    border-radius: 30px;
    background: var(--white);
    display: inline-block;
    border: 1px solid var(--medium-light);
    color: black;
}

.skills-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 73px;
    overflow: hidden;
}

.skills-list li {
    list-style: none;
    margin-right: 5px;
    margin-bottom:5px ;
    padding: 7px 15px;
    border-radius: 30px;
    background: var(--light-grey);
}

.skills-list li p {
    font-size: 15px;
    white-space: nowrap;
}

/* .artistContainer button {
    position: absolute;
    right: 5px;
    font-size: 25px;
    width: 30px;
    height: 30px;
} */

/* Bottom half */
.artistBottom {
    flex-grow: 1;
}

.artist-thumb-crop {
    width: 100%;
    height: 160px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.artist-thumb-img {
    width: 100%;
    height: auto;
}
