/* || Form styles */

.form-wrapper {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form {
    background: white;
    position: absolute;
    z-index: 9;
    display: flex;
    flex-direction: column;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 15px;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

.form h1 {
    margin-bottom: 25px;
}

.form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px
}

.hide-form {
    position: absolute;
    right: 5px;
    top: 0;
    width: 40px;
    padding: 10px;
    color: var(--medium-grey);
    font-size: 30px;
    cursor: pointer;
}

.hide-form:hover{
    color: var(--purple);
}

.form input {
    max-width: 350px;
    padding: 15px;
    outline: none;
    background: var(--light-grey);
    border:none;
    border-radius: 10px;
}

label {
    margin-bottom: 9px;
    font-size: 0.6rem;
}

.create {
    width: 100%;
    background: var(--light-purple);
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    color: var(--purple);
}

.create:hover {
    background: var(--purple);
    color: white;
}

.dates {
    width: 100%;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
}

.dates section {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.dates input{
    width: 120px;
}

.bg-hide {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    cursor: ;
}