/* || Nav bar */

nav {
    /* height: 100vh; */
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    z-index: 999999999;
    text-align: center;
    transition: width 0.5s ease;
}

nav ul {
    width: 100%;
    margin-top: 10px;
}

nav ul li {
    list-style-type: none;
    margin-bottom: 10px;
    height: 40px;
    text-align: center;
}

nav ul li:hover {
    background: var(--purple);
}

.nav-icon {
    width: 30px;
}

nav a:active {
    opacity: 0.4;
}

.logo {
    margin-bottom: 20px;
}

.dark-mode {
    position: absolute;
    bottom: 10px;
    left: 15px;
}

.dark-mode-wrap {
    width: 20px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid white;
}

.dark-mode-toggle {
    background: var(--white);
    width: 20px;
    height: 20px;
    border-radius: 10px;
}