/* || Nav bar */

nav {
    /* height: 100vh; */
    width: 60px;
    height: 100%;
    background-color: black;
    position: fixed;
    z-index: 999999999;
    text-align: center;
    transition: width 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav hr {
    width: 100%;
    border: 1px solid rgb(41, 41, 41);
}

nav div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 60px;
    height: 55px;

}

nav div:hover {
    background: var(--purple);
}

.nav-icon {
    width: 30px;
}

nav a:active {
    opacity: 0.4;
}

.logo {

}

.logo:hover {
    background: none;
}

.dark-mode {
    background: var(--purple);
    margin-top: auto;
}
